/*적용할 레트로풍 폰트*/
@font-face {
  font-family: 'DungGeunMo';
  src: url('../font/DungGeunMo.woff2');
}
body{
  font-family: 'DungGeunMo';
  background-color: ivory;
  font-size: 20px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*input태그를 감싸는 클래스 크기 조정*/
.wrapper
{
  background-color: antiquewhite;
  width:50%; 
 

}
input[type="text"],input[type="password"]
{
  margin-top: 30px;
}
