html,body{
  margin:0;
  padding:0;
  background-color: ivory;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/*footer 고정용 div*/
#index_div_wrap
{
/*기존 height:부모 요소에 의존적 , vh:view height(브라우저 높이기준)*/
min-height: 100vh;
position: relative;
width: 100%;
}
/*
index 페이지의 컨텐츠 부분
문구, 이미지 슬라이스.
*/
article
{
display: flex;
flex-direction: column;
background-color: brown;
justify-content :center;
align-items : center;
padding-bottom: 100px;
}
footer
{
background-color: #2d2d2d;
width:100%;
height:80px;
bottom:0px;
position: absolute;
color: white;
}

#logo
{
width:100px;
height:100px;
background-color: black;
}

img{
  width:100%;
  height: 100%;
}
/*상단 메뉴 영역1*/
#topMenu0 {  
background-color: blue;          
height: 8rem;
width: 20%; 
float: left;
}
#topMenu1 {  
background-color: green;          
height: 4rem;
width: 80%; 
float: right;
}
#topMenu1 ul{                   
list-style: none;  
line-height: 4rem;          
color: blue;
float: right;                
}
/*그리고 자식요소들은 좌측부터 정렬한다.*/
#topMenu1 ul li:first-child 
{  
float: left;       
vertical-align: middle;    
text-align: center;    
background-color: red;
background-image:url('/images/icon_home.png');
}
#topMenu1 ul li:last-child
{  
float: left;       
vertical-align: middle;    
text-align: center;    
background-color: blue; 

}

li{   
float: left;       
vertical-align: middle;    
text-align: center;    
background-color: #2d2d2d; 
border-right: 1px solid silver;
border-radius: 4px;
}


/*상단 메뉴 영역2*/
#topMenu2 {  
background-color: blue;          
height: 4rem;
width: 80%; 
float: right;
}
/*오른쪽 정렬.*/
#topMenu2 ul{                   
list-style: none;  
line-height: 4rem;          
color: blue;
float: right;                
}
/*그리고 자식요소들은 좌측부터 정렬한다.*/
#topMenu2 ul li:first-child 
{  
float: left;       
vertical-align: middle;    
text-align: center;    
background-color: #2d2d2d; 
border-right: 1px solid silver;
border-radius: 4px;
}

/*첫번째 자식은 border를 긋지 않는다*/
#topMenu1 ul li:first-child
{
border-left: none;  
}
#topMenu2 .menuLink {                      
text-decoration:none;                    
color: white;                          
display: block;                         
width: 20rem;                      
font-size: large;                          
font-weight: bold;                       
font-family: Georgia, 'Times New Roman', Times, serif
}
/*메뉴 호버시 효과*/
#topMenu2 .menuLink:hover {           
color: goldenrod;               
background-color: #4d4d4d;  
}
#topMenu2 .menuLink:after
{
display:block;
content: '';
border-bottom: solid 3px goldenrod;  
transform: scaleX(0);  
transition: transform 400ms ease-in-out; /*천천히-보통-천천히*/
}
#topMenu2 .menuLink:hover::after 
{
transform: scaleX(1);
}

/* https://developing-move.tistory.com/123 */





h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-weight: normal;
  width: 100%;
  text-align: center;
  font-size: 16vw;
  background: linear-gradient(-45deg, #4bc0c8 25%, #feac5e 25%, #feac5e 50%, #4bc0c8 50%, #4bc0c8 75%, #feac5e 75%, #feac5e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 20px 20px;
  background-position: 0 0;
  animation: stripes 1s linear infinite;
}
@keyframes stripes {
  100% {
      background-position: 20px 0, 20px 0, 20px 0;
  }
}

